body {
    margin: 0px; 
     background: #1F2937;  
    }
    
#upperSection{
    
    background:#6943FF;
    padding:20px 0;
    margin-bottom:100px;
    
}   
#getUserInput-el{
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    
    background:#6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    /* or 42% */

    text-align: center;

    color: #FFFFFF;
}

button{
    margin:auto;
    margin-top:20px;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;

    background: #FFFFFF;
   

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border:none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#container{
   

  

}

.converted{
    
    margin:auto;
    width: 90%;
    height: 108.57px;
    left: 25px;
    top: 321px;

    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;

}

h3{
    text-align: center;
    padding-top:31px;   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    color: #CCC1FF;
}
p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}